@import "mixins";

.tooltip {
  position: absolute;
  width: 300px;
  background-color: $block-bg-color;
  z-index: 20;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.3);
  font-size: 14px;

  top: 40px;
  left: 80px;

  &:after {
    content: '';
    position: absolute;
    right: -12px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 12px;
    border-color: transparent transparent transparent #ffffff;
  }
}